.description {
  white-space: pre;
}

.table {
  width: 100%;
}

.placeholder {
  width: 200px;
  height: 1em;
  border-bottom: 1px solid black;
}

.device {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  &:last-child {
    border: none;
  }
}

.image {
  width: 18em;
  height: auto;
}

.title {
  font-size: 2.7em;
}

.subTitle {
  font-style: italic;
  margin-top: -1.5em;
  margin-bottom: 2em;
}

.longText {
  line-height: 1.75;
  white-space: pre-wrap;
}
